/* Basic structure and centering */

@keyframes backgroundAnimation {
  0% {
    background-color: #3674b5;
  }
  25% {
    background-color: #578fca;
  }
  50% {
    background-color: #a1e3f9;
  }
  100% {
    background-color: #d1f8ef;
  }
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #f4f4f9;
  background-size: cover;
  backdrop-filter: blur(5px);
  animation: backgroundAnimation 10s infinite alternate;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-container {
  margin-bottom: 20px;
  text-align: center;
}

.search-container input {
  padding: 8px;
  font-size: 16px;
  margin-right: 10px;
}

.search-container button {
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}

.loading {
  font-size: 18px;
  color: #666;
}

.error-message {
  font-size: 16px;
  color: red;
  margin-top: 10px;
}

.details-container {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 90%;
  /*max-width: 500px;*/
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-height: 60vh; /* Ensure it doesn't take up the full screen height */
  overflow-y: auto; /* Add scrolling for overflowing content */
}

.details-container ul {
  text-align: left; /* Align lists to the left */
  margin: 0;
  padding-left: 20px; /* Add some padding for list indentation */
}

.details-container img {
  margin: 10px 0; /* Add spacing around the flag */
}
